body {
	width: 100%;
}

.logo {
	text-align: center;
	margin: 0 auto;
}

.logo img {
	width: 10%;
}

.logo p {
	font-size: 0.8em;
    color: #3e3e3e;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;  /*水平居中*/
    justify-content: center;
    -webkit-align-items: center; /*垂直居中*/
    align-items: center;
    width: 400px;
    height: 250px;
}